body {
  --bg: #fff;
  --textNormal: #333;
  --searchBg: #f5f5f5;
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: rgb(32, 33, 36);
  --textNormal: #bdc1c6;
  --searchBg: #303134;
}
